/* main colors */
$dark: rgb(11, 13, 23);
$light-dark: rgb(56, 59, 75);
$light-blue : rgb(208, 214, 249);
$white: rgb(255, 255, 255);

/* opacity control */
$white-a50: rgba(255, 255, 255, 0.5);
$white-a25: rgba(255, 255, 255, 0.25);
$white-a17: rgba(255, 255, 255, 0.17);
$white-a10: rgba(255, 255, 255, 0.1);
$white-a04: rgba(255, 255, 255, 0.04);

/* device width */
$tablet: 768px;
$desktop: 1440px;