@import '../../styles/typhography';
@import '../../styles/variables';

.main {
    width: 100%;
    height: 100vh;
    min-height: 667px;
    background-image: url('../../assets/home/background-home-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Spacing {
    width: 100%;
    height: 96px;
}

.ContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 81px;
    margin-top: 16px;
}

.TextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 327px;
}

.NavText {
    color: $light-blue;
}

.Heading__1 {
    color: $white;
    font-size: 80px;
}

.BodyText {
    color: $light-blue;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
}

.StartButtonContainer {
    display: flex;
    justify-content: center;
}

@media (min-width: $tablet) {
    .main {
        min-height: 1024px;
        background-image: url('../../assets/home/background-home-tablet.jpg');
    }

    .Spacing {
        height: 202px;
    }

    .ContentContainer {
        gap: 156px;
    }

    .TextContainer {
        width: 450px;
    }

    .NavText {
        font-size: 20px;
        letter-spacing: 3.375px;
    }

    .Heading__1 {
        font-size: 150px;
    }

    .BodyText {
        font-size: 16px;
        line-height: 28px;
    }
}

@media (min-width: $desktop) {
    .main {
        min-height: 900px;
        background-image: url('../../assets/home/background-home-desktop.jpg');
    }

    .Spacing {
        height: 387px;
        margin-bottom: 0px;
    }

    .ContentContainer {
        flex-direction: row;
        gap: 386px;
        padding-left: 165px;
        margin-top: 0px;
    }

    .TextContainer {
        align-items: baseline;
        gap: 26px;
        height: 382px;
    }

    .NavText {
        font-size: 28px;
        letter-spacing: 4.725px;
    }

    .BodyText {
        font-size: 18px;
        line-height: 32px;
        text-align: start;
    }

    .StartButtonContainer {
        padding-top: 92px;
    }
}